@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #a0a2a1;
}

body {
  background-color: var(--background-color);
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#__next {
  min-height: 100vh;
}

.shelf-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}