@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto; /* Allow vertical scrolling */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#__next {
  min-height: 100vh;
}

.shelf-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.vignette-effect {
  pointer-events: none;
  background: radial-gradient(
    circle,
    transparent 10%,
    rgba(0, 0, 0, 0.3) 150%
  );
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}